table {
    background: #ffffff; /* Цвет фона таблицы */
    border: 5px double #8affbd;
    }
    
    th{
    font-family: Calibri;
    background: maroon; /* Цвет фона таблицы */
    color: #ffffff; /* Цвет текста */
    text-align: center; /* Выравнивание по centry */
    font-style: italic;
    font-size: 13pt;
    font-weight: bold;	
    }
    
    td{
    font-family: Calibri;
    font-style: normal;
    font-size: 12pt;
    color:#3366FF;
    padding: 10px; /* Поля вокруг текста */
    background: #ffffff; /* Цвет фона ячеек */
    border: 5px outset #8affbd;
    }
    
    td{
    font-family: arial;
    font-style: normal;
    font-size: 12pt;
    color:black;
    font-weight: bold;	
    }
    
    td:hover{
    visibility: hidden;
    }
    
    th:hover{
    visibility: hidden;
    }
    (min-width:700px){
    #gm{
    border-radius:40px 15px;
    max-width:900x;
    text-align: center;
    padding: 5px;
    background: #8affbd;
    opacity: 0.5;
    padding:10px;
    }
    }